* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* variabel */
:root {
    --teracota: #d06224;
    --chile-rojo: #ae431e;
    --olive: #8a8635;
    --sunset: #eac891;
    --dark-sunset: #ac9164;
    --black: #111a10;
    --white: #dcd7c9;
    --indigo-rain: #0d244d;
    --orange: #ec5e27;
    --crumpet: #f5e2ce;
}

/* display */
.none {
    display: none;
}

/* Body */
body {
    background-color: var(--teracota);   
}
.body-overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* signin & login card */
.login-container {
    background-color: var(--olive);
    color: var(--white);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    box-shadow: 2px 2px 10px var(--black);
}
.toggle-btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 3px;
    margin: 5px 3px;
    width: 70px;
    background-color: var(--sunset);
    color: var(--black);
    font-weight: bold;
    transition: all 0.3s ease;
}
.toggle-btn:hover {
    background-color: var(--dark-sunset);
}
.input-box {
    background-color: var(--olive);
    border: none;
    border-bottom: 1px solid var(--sunset);
    color: var(--white);
}
#card_toggle {
    cursor: pointer;
    color: var(--indigo-rain);
}

/* body book page */
.book_body_container {
    display: flex;
}
/* Book input*/
#user_tools {
    width: 270px;
    padding-top: 100px;
    background-color: var(--chile-rojo);
    height: 100vh;
    color: var(--white);
}
.form_book {
    margin: 30px 10px;
    background-color: var(--orange);
    padding: 5px;
    border-radius: 10px;
}
.book_input {
    background-color: transparent;
    border: none;
    border-bottom:1px solid var(--white);
    padding: 2px;
}

/* Book container & it's content */
.book_container {
    width: 450px;
    margin: auto;
    height: 670px;
    background-color: var(--crumpet);
}